<!DOCTYPE html>
<html>
<head>
    <title>Currículo Online - Formação</title>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <center>
        <div>
    <h1>Formação</h1>
    <p>Tenho como formação:</p>
    <p>Academica em Sistemas de Informação-IFCE Campus Cedro 2021-2024;
        <br>
        Tecnica em Informática-IFCE Campus Cedro 2017-2019.
    </p>
</div> </center>

</body>
</html>